/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.sign-btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 0px 2px #ffffff;
    -webkit-box-shadow: 0px 1px 2px #666666;
    -moz-box-shadow: 0px 1px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 22px;
    background: #f81a1a;
    padding: 0px 4px 2px 4px;
    border: solid #1f628d 1px;
    text-decoration: none;
    margin-left: 800px;
    margin-top: 7px;
  }