<style>
  .pointer {
      cursor: pointer;  
  }
  #phone {
  font-size: 17px;
  padding: 5px 0px 0px 50px;
  }
  #email {
  font-size: 17px;
  padding: 30px 0px 0px 50px;
  }
</style>
<body>
  <div class="container-fluid content">
      <div class="row first-row">
          <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/title_header.png" alt="opis">
      </div>

      <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

     <div class="row second-row">
        <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
        <input type="text" class="search-input">
        <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
     </div>
     
     <div>
         <h4 style="padding-top:5px" class="text-info">OGŁOSZENIA / (KATEGORIA OGŁOSZENIA)</h4>
     </div>
     
     <div class="row">
         <div class="col-xs-3 pointer" id="photoContainer">
            <img id="photo" src="https://d29p2nwx3pv59i.cloudfront.net/images-general/Steel-string-guitar.jpg">
         </div>
        <div class="col-xs-6">
           <h2 id="advert">Ogłoszenie nr 1</h2>
           <h4 id="ad-description">{{ adverts[1].body }}</h4>
        </div>
      </div>
     
      <p class="text-muted" id="email">Email: 
        <span class="text-info">jan@kowalski@wp.pl</span> 
      </p>
     
      <p class="text-muted" id="phone">Telefon: 
          <span class="text-info">601958234</span> 
        </p>
     
        <div class="row bottom-row">
            <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
                <h3 class="pointer">Regulamin</h3>
            </div>
            <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
                <h3 class="pointer">Pomoc</h3>
            </div>
            <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
                <h3 class="pointer">O nas</h3>
            </div>
            <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
                <h3 class="pointer">Media</h3>
            </div>
            <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
                <h3 class="pointer">Kontakt</h3>
            </div>
        </div>
  </div>
</body>
