<style>
  .pointer {
      cursor: pointer;  
  }
  .container {
    max-width:80%;
    padding-top: 45px;
  }
</style>
<body>
  <div class="container-fluid content">
      <div class="row first-row">
          <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/title_header.png" alt="opis">
      </div>

      <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

     <div class="row second-row">
        <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
        <input type="text" class="search-input">
        <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
     </div>
     
     <div class="container">
       
      <p><strong>§ 1</strong></p>
      <p><strong>Regulamin wyświetlania bezpłatnych ogłoszeń na portalu internetowym Dej Tej</strong></p>
      <p>2. Administratorzy portalu DejTej nie ponoszą żadnej odpowiedzialności za treść zamieszczanych w serwisie ogłoszeń.</p>
      <p>3. Za zamieszczenie ogłoszenia, które nie jest zgodne z prawem, netykietą lub zasadami współżycia społecznego, 
        odpowiedzialność ponosi osoba zamieszczająca ogłoszenie, a nie sam serwis.</p>
      <p>4. Ogłoszeniodawcą może być zarówno prywatna osoba pełnoletnia, jak i zarejestrowana firma.</p>
      
      <p><strong>§ 2</strong></p>
      <p><strong>Niedozwolone jest zamieszczanie ogłoszeń dotyczących:</strong></p>
      <p>1. Organów ludzkich i zwierzęcych</p>
      <p>2. Ogłoszeń mających na celu niepokojenie osób trzecich</p>
      <p>3. Produktów farmakologicznych, także tych dopuszczonych do obiegu pozaaptecznego</p>
      <p>4. Narkotyków i materiałów pornograficznych</p>
      <p>5. Towarów pochodzących z kradzieży lub wprowadzonych do obrotu niezgodnie z obowiązującym prawem</p>
      <p>6. Ogłoszeniodawca ponosi wszelką odpowiedzialność za szeroko pojętą treść umieszczonego ogłoszenia, w szczególności za jego prawdziwość, 
        rzetelność treści, a także zgodność z powszechnie obowiązującymi przepisami prawa.</p>
      <p>7. Ogłoszenia niezgodne z regulaminem będą usuwane. W krytycznych przypadkach administracja ma prawo do usunięcia konta użytkownika zamieszczającego takie ogłoszenie.</p>
      <p>8. Administracja serwisu DejTej nie pobiera żadnych opłat związanych z utworzeniem i prowadzeniem konta użytkownika, dodawaniem oraz edycją ogłoszeń na portalu.</p>
      
      <p><strong>§ 3</strong></p>
      <p><strong>Administratorzy serwisu DejTej nie ponoszą żadnej odpowiedzialności za:</strong></p>
      <p>1. Treść ogłoszeń oraz linki do zasobów ujętych w treści ogłoszenia</p>
      <p>2. Zamieszczenie przez użytkowników danych niezgodnych z prawdą lub podawanie danych fałszywych</p>
      <p>3. Za to, w jaki sposób, ani do jakich celów dane zamieszczane w serwisie DejTej zostaną wykorzystane</p>
      <p>4. Funkcjonowanie serwisu i wynikłe z tego faktu komplikacje.</p>
      
      <p><strong>§ 4</strong></p>
      <p><strong>Administracja serwisu DejTej zastrzega sobie prawo do:</strong></p>
      <p>1. Usuwania ogłoszeń niezgodnych z prawem oraz niniejszym regulaminem</p>
      <p>2. Usuwanie ogłoszeń dodawanych wielokrotnie oraz dodawanych wielokrotnie w różnych kategoriach</p>
      <p>3. Usuwania ogłoszeń naruszających normy moralne, dobre obyczaje, godność człowieka, uczucia religijne, przekonania polityczne oraz związanych z dyskryminacją rasową lub płciową</p>
      <p>4. Usuwania ogłoszeń, których treść odsyła do konkurencyjnych pism, internetowych serwisów ogłoszeniowych, bądź innych, konkurencyjnych dla portalu DejTej nośników informacji</p>
      <p>5. Usuwania ogłoszeń w sytuacji określonej prawem prasowym, jak również wtedy gdy ich treść pozostaje w sprzeczności z linią programową i charakterem portalu DejTej</p>
      <p>6. Usuwania ogłoszeń zamieszczanych w nieprawidłowych kategoriach lub zmiany kategorii publikowanego ogłoszenia</p>
      <p>7. Usuwania ogłoszeń, których czytelność utrudnia lub uniemożliwia przeglądanie serwisu</p>
      <p>8. Usuwania ogłoszeń po okresie 30 dni o daty ich publikacji</p>
      <p>9. Edycji i usuwania ogłoszeń bez podania przyczyny</p>
      <p>10. Modyfikowania niniejszego regulaminu</p>
      <p>11. Czasowego przerywania pracy serwera</p>
      <p>12. Zaprzestania świadczenia usług ogłoszeniowych</p>
         
     </div>
     
     <div class="row bottom-row">
        <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
            <h3 class="pointer">Regulamin</h3>
        </div>
        <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
            <h3 class="pointer">Pomoc</h3>
        </div>
        <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
            <h3 class="pointer">O nas</h3>
        </div>
        <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
            <h3 class="pointer">Media</h3>
        </div>
        <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
            <h3 class="pointer">Kontakt</h3>
        </div>
    </div>
  </div>
</body>
