<style>
    .pointer {
        cursor: pointer;  
    }
    .container {
      max-width:70%;
      padding-top: 45px;
    }
    hr {
        border: 1px solid #b9b8b8;
        margin-bottom: 25px;
        max-width: 70%;
    }
    h1 {
        padding-top: 80px;
    }
  </style>
  <body>
    <div class="container-fluid content">
        <div class="row first-row">
            <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/title_header.png" alt="opis">
        </div>

        <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

       <div class="row second-row">
          <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
          <input type="text" class="search-input">
          <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
       </div>
       
       <h1 style="text-align:center">O nas</h1>
       <hr> 

       <div class="container">
        <p>
          <strong>DejTej Sp.k. sp.j.</strong> jest wieloletnią firmą, która od niedawna poszerza swe zasięgi o internet.
          Utworzona w kwietniu 2010r. spółka miała na celu zrzeszać specjalistów we wszelkiej maści oszczędzaniu. 
          Od samego początku żyliśmy w przekonaniu, że każdy grosz zbliża nas do niesamowitego szczęścia i fortuny.
          W 2012r. spółka przerodziła się w kilkunastoosobową firmę zajmującą się handlem niskiej wartości przedmiotami.
          Zyski z prowadzonej działalności przyczyniły się do utworzenia oddziałów w Poznaniu, Krakowie, Warszawie oraz w Sosnowcu.
          Naszym nowym celem jest stworzenie serwisu, w którym użytkownicy będą mogli przekazywać przedmioty zbędne wystawiającym. 
          Wierzymy bowiem, że im więcej luzu na strychu, tym więcej miejsca na pieniądze w portfelu. 
          Rozumiemy również potrzeby innych osób i czyniąc pokłon w ich stronę, dajemy możliwość zdobycia przedmiotów, które mogą pomóc poprawić stan ich życia.
        </p>    
       </div>
       
       <div class="row bottom-row">
          <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
              <h3 class="pointer">Regulamin</h3>
          </div>
          <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
              <h3 class="pointer">Pomoc</h3>
          </div>
          <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
              <h3 class="pointer">O nas</h3>
          </div>
          <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
              <h3 class="pointer">Media</h3>
          </div>
          <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
              <h3 class="pointer">Kontakt</h3>
          </div>
      </div>
    </div>
  </body>
  