<style>
    form {
      padding: 100px 300px 0px 300px;
    }
    hr {
      border: 1px solid #b9b8b8;
      margin-bottom: 25px;
    }
  </style>
  <body>
    <div class="container-fluid content">
        <div class="row first-row">
            <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/title_header.png" alt="opis">
        </div>

        <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

       <div class="row second-row">
          <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
          <input type="text" class="search-input">
          <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
       </div>
      
       <form [formGroup]="form" (ngSubmit)="signIn()" #signInForm="ngForm">
          <h1>Zaloguj się</h1>
          <p>Jeśli nie masz konta, możesz je założyć 
            <a href="/sign-up">tutaj.</a>
          </p>
          <hr> 
  
          <div class="form-group">
            <label for="email">Email</label>
            <input 
              type="text" 
              [(ngModel)]="account.email"
              formControlName="email" 
              id="email" 
              class="form-control">
          </div>
  
          <div class="form-group">
            <label for="password">Hasło</label>
            <input 
              type="password" 
              formControlName="password" 
              id="password" 
              [(ngModel)]="account.password"
              class="form-control">
            </div>
  
          <button type="submit" class="btn btn-primary" [disabled]="!signInForm.form.valid" >Zaloguj</button>
       </form>
  
       <div class="row bottom-row">
          <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
              <h3 class="pointer">Regulamin</h3>
          </div>
          <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
              <h3 class="pointer">Pomoc</h3>
          </div>
          <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
              <h3 class="pointer">O nas</h3>
          </div>
          <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
              <h3 class="pointer">Media</h3>
          </div>
          <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
              <h3 class="pointer">Kontakt</h3>
          </div>
      </div>
    </div>
  </body>
  