<style>
    .pointer {
        cursor: pointer;
    }
</style>
<body>
    <div class="container-fluid content">
        <div class="row first-row">
            <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/title_header.png" alt="opis">
        </div>

        <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

       <div class="row second-row">
          <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
          <input type="text" class="search-input">
          <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
       </div>
       
       <div class="row">
        <div class="col-xs-3 pointer" id="photoContainer" routerLink="/advert-site">
            <img id="photo" src="https://d29p2nwx3pv59i.cloudfront.net/images-general/Steel-string-guitar.jpg">
         </div>
          <div class="col-xs-6 pointer" routerLink="/advert-site">
             <h2 id="advert">{{ adverts[0].title }}</h2>
             <h4 id="ad-description">{{ adverts[0].body }}</h4>
          </div>
        </div>
       
        <div class="row">
            <div class="col-xs-3 pointer" id="photoContainer">
                <img id="photo" src="https://upload.wikimedia.org/wikipedia/commons/9/90/Hybrid-bicycle-1.jpg">
             </div>
            <div class="col-xs-6 pointer">
               <h2 id="advert">Ogłoszenie nr 2</h2>
               <h4 id="ad-description">{{ adverts[1].body }}</h4>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-3 pointer" id="photoContainer">
                <img id="photo" src="http://s7d9.scene7.com/is/image/TheBay/889982538288_main?$PDPLARGE$&wid=388&hei=498&fit=fit,1">
             </div>
            <div class="col-xs-6 pointer">
                <h2 id="advert">Ogłoszenie nr 3</h2>
                <h4 id="ad-description">{{ adverts[2].body }}</h4>
            </div>
        </div>
       
        <div class="row bottom-row">
            <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
                <h3 class="pointer">Regulamin</h3>
            </div>
            <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
                <h3 class="pointer">Pomoc</h3>
            </div>
            <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
                <h3 class="pointer">O nas</h3>
            </div>
            <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
                <h3 class="pointer">Media</h3>
            </div>
            <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
                <h3 class="pointer">Kontakt</h3>
            </div>

            <button (click)="sendAdvertNigga()">Wyslij to ok</button>
        </div>
    </div>
</body>
