<style>
    .pointer {
        cursor: pointer;  
    }
    .container {
      max-width:60%;
      padding-top: 20px;
    }
    hr {
        border: 1px solid #b9b8b8;
        margin-bottom: 25px;
        max-width: 70%;
    }
    h1 {
        padding-top: 80px;
    }
    .tab {
      padding-left: 20px;
    }
  </style>
  <body>
    <div class="container-fluid content">
        <div class="row first-row">
            <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
            <img src="assets/images/title_header.png" alt="opis">
        </div>

        <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

       <div class="row second-row">
          <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
          <input type="text" class="search-input">
          <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
       </div>
       
       <h1 style="text-align:center">O nas</h1>
       <hr> 

       <div class="container">

          <p>Potrzebujesz pomocy?</p>
          <p>Skontaktuj się z nami:</p>
          <p class="tab"><strong>ADMINISTRACJA PORTALU: <a href="" onclick="nothing()">admin@dejtej.pl</a> </strong></p>
          <p class="tab"><strong>TECHNICY: <a href="" onclick="nothing()">pomoc@dejtej.pl</a> </strong></p>
          <p class="tab"><strong>RZECZNIK PRASOWY: <a href="" onclick="nothing()">pr@dejtej.pl</a> </strong></p>

          <br>


          <p>Masz pytania niezwiązane z w.w. kontaktami?</p>
          <p>Pisz na: </p>
          <a href="" class="tab" onclick="nothing()"><strong>pytania@dejtej.pl</strong> </a>
          <br><br>
          <p>Wiesz w jaki sposób moglibyśmy zwiększyć przyjemność z korzystania strony?</p>
          <p>Zapraszamy do kontaktu pod adresem e-mail:</p>
          <a href="" class="tab" onclick="nothing()"><strong>dejtej@dejtej.pl</strong> </a>
   
       </div>
       
       <div class="row bottom-row">
          <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
              <h3 class="pointer">Regulamin</h3>
          </div>
          <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
              <h3 class="pointer">Pomoc</h3>
          </div>
          <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
              <h3 class="pointer">O nas</h3>
          </div>
          <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
              <h3 class="pointer">Media</h3>
          </div>
          <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
              <h3 class="pointer">Kontakt</h3>
          </div>
      </div>
    </div>
  </body>
  