<style>
  img.top {
      vertical-align: text-top;
      margin-right: 10px;
  }
  hr {
    border: 1px solid #b9b8b8;
    margin-bottom: 25px;
  }
</style>
<body>
  <div class="container-fluid content">
    <div class="row first-row">
      <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
      <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
      <img src="assets/images/title_header.png" alt="opis">
    </div>

    <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

    <div class="row second-row">
      <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
      <input type="text" class="search-input">
      <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
    </div>

    <h1 style="text-align:center">Lista ogłoszeń</h1>
    <hr> 

    <ul class="list-group" style="margin:15px 0px 0px 0px">
      <li 
        *ngFor="let advert of adverts"
        class="list-group-item">
          <h4 style="font-weight:bold;cursor:pointer">
            <img class="top" src={{advert.url}} style="width:82px; height:86px;"/>
            {{advert.title}}
          </h4>
      </li>
    </ul>

    <div class="row bottom-row">
      <div class="col-xs-1" style="margin-left:20px">
          <h3>Regulamin</h3>
      </div>
      <div class="col-xs-1" style="margin-left:60px">
          <h3>Pomoc</h3>
      </div>
      <div class="col-xs-5" style="margin-left:20px">
          <h3>O nas</h3>
      </div>
      <div class="col-xs-1" style="margin-left:90px">
        <h3>Media</h3>
      </div>
      <div class="col-xs-1" style="margin-left:10px">
          <h3>Kontakt</h3>
      </div>
    </div>
  </div>
</body>
