<style>
  form {
    padding: 100px 300px 0px 300px;
  }
  hr {
    border: 1px solid #b9b8b8;
    margin-bottom: 25px;
  }
</style>
<body>
  <div class="container-fluid content">
      <div class="row first-row">
          <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/title_header.png" alt="opis">
      </div>

      <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

     <div class="row second-row">
        <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
        <input type="text" class="search-input">
        <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
     </div>
    
     <form [formGroup]="form" (ngSubmit)="signUp(form)" #signUpForm="ngForm">
        <h1>Rejestracja konta</h1>
        <p>Uzupełnij ten formularz aby założyć konto. <br>
          Posiadasz już konto? Kliknij <a href="/sign-in">tutaj</a>, aby przejść do strony logowania.
        </p>
        <hr> 

        <div class="form-group">
          <label for="name">Nazwa użytkownika</label>
          <input 
            type="text" 
            id="name" 
            class="form-control"
            [(ngModel)]="account.name"
            formControlName="name">
            <div *ngIf="name.touched && name.invalid" class="alert alert-danger">
              <div *ngIf="name.errors.required">Nazwa jest wymagana.</div>
            </div>  
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input 
              type="text" 
              id="email" 
              class="form-control"
              [(ngModel)]="account.email"
              formControlName="email">
              <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
                <div *ngIf="email.errors.required">Email jest wymagany.</div>
                <div *ngIf="email.errors.emailMustBeCorrect">Nieprawidłowy email.</div>
              </div>  
          </div>

        <div class="form-group">
          <label for="password">Hasło</label>
          <input 
            type="password" 
            formControlName="password" 
            id="password" 
            [(ngModel)]="account.password"
            class="form-control">
            <div *ngIf="password.touched && password.invalid" class="alert alert-danger">
                <div *ngIf="password.errors.required">Hasło jest wymagane.</div>
                <div *ngIf="password.errors.minlength">Hasło musi składać się z co najmniej {{ password.errors.minlength.requiredLength }} znaków.</div>
              </div>  
          </div>

        <div class="form-group">
          <label for="password_confirmation">Powtórz hasło</label>
          <input 
            type="password" 
            formControlName="password_confirmation" 
            id="password_confirmation" 
            [(ngModel)]="account.password_confirmation"
            class="form-control">
            <div *ngIf="password_confirmation.touched && password_confirmation.invalid" class="alert alert-danger">
                <div *ngIf="password_confirmation.errors.required">Powtórzenie hasła jest wymagane.</div>
              </div>  
          </div>

          <div class="form-group">
            <label for="phone">Telefon kontaktowy</label>
            <input 
              type="text" 
              [(ngModel)]="account.phone"
              formControlName="phone" 
              id="phone" 
              class="form-control">
              <div *ngIf="phone.touched && phone.invalid" class="alert alert-danger">
                  <div *ngIf="phone.errors.required">Telefon jest wymagany.</div>
                </div>  
            </div>

        <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.form.valid" >Zarejestruj</button>
     </form>

    <div class="row bottom-row">
        <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
          <h3 class="pointer">Regulamin</h3>
      </div>
      <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
          <h3 class="pointer">Pomoc</h3>
      </div>
      <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
          <h3 class="pointer">O nas</h3>
      </div>
      <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
          <h3 class="pointer">Media</h3>
      </div>
      <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
          <h3 class="pointer">Kontakt</h3>
      </div>
    </div>
  </div>
</body>
