<style>
  form {
    padding: 100px 300px 0px 300px;
  }
  hr {
    border: 1px solid #b9b8b8;
    margin-bottom: 25px;
  }
</style>
<body>
  <div class="container-fluid content">
      <div class="row first-row">
          <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/title_header.png" alt="opis">
      </div>

      <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

     <div class="row second-row">
        <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
        <input type="text" class="search-input">
        <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
     </div>
    
     <form [formGroup]="form" (ngSubmit)="signUp()" #signUpForm="ngForm">
        <h1>Uszanowanko</h1>
        <hr> 

        <div class="form-group">
            <label for="title">Tytuł</label>
            <input 
              [(ngModel)]="advert.title"
              type="text" 
              id="title" 
              class="form-control"
              formControlName="title">
              <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
                <div *ngIf="title.errors.required">Tytuł jest wymagany.</div>
              </div>  
          </div>

        <div class="form-group">
          <label for="body">Opis</label>
          <input 
            [(ngModel)]="advert.body"
            type="text" 
            formControlName="body" 
            id="body" 
            class="form-control">
            <div *ngIf="body.touched && body.invalid" class="alert alert-danger">
                <div *ngIf="body.errors.required">Opis jest wymagany.</div>
                <div *ngIf="body.errors.minlength">Opis musi składać się z co najmniej {{ body.errors.minlength.requiredLength }} znaków.</div>
              </div>  
          </div>

        <div class="form-group">
          <label for="passwordRepeat">Kategoria</label>
          <input 
            [(ngModel)]="advert.category"
            type="text" 
            formControlName="category" 
            id="category" 
            class="form-control">
            <div *ngIf="category.touched && category.invalid" class="alert alert-danger">
                <div *ngIf="category.errors.required">Kategoria jest wymagana.</div>.
              </div>  
          </div>

        <button type="submit" class="btn btn-primary" [disabled]="!signUpForm.form.valid" >Blabla</button>
     </form>

    <div class="row bottom-row">
        <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
          <h3 class="pointer">Regulamin</h3>
      </div>
      <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
          <h3 class="pointer">Pomoc</h3>
      </div>
      <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
          <h3 class="pointer">O nas</h3>
      </div>
      <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
          <h3 class="pointer">Media</h3>
      </div>
      <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
          <h3 class="pointer">Kontakt</h3>
      </div>
    </div>
  </div>
</body>
