<style>
  form {
    padding: 50px 200px 0px 200px;
  }
  hr {
    border: 1px solid #b9b8b8;
    margin-bottom: 25px;
  }
</style>
<body>
  <div class="container-fluid content">
      <div class="row first-row">
          <img src="assets/images/logo.png" alt="Logo" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/dejTej.png" alt="dejTej.pl" routerLink="/" style="cursor:pointer;">
          <img src="assets/images/title_header.png" alt="opis">
      </div>

      <button class="sign-btn" routerLink="/sign-in">Zaloguj się</button>

     <div class="row second-row">
        <button class="search-btn search-btn:hover" routerLink="/adverts-list">Szukaj</button>
        <input type="text" class="search-input">
        <button class="add-btn add-btn:hover" routerLink="/add-advert">Dodaj ogłoszenie</button>
     </div>
    
     <form [formGroup]="form" (ngSubmit)="createAdvert(form)" #advertForm="ngForm">
        <h1>Dodaj ogłoszenie</h1>
        <p>Uzupełnij ten formularz by dodać ogłoszenie.</p>
        <hr> 

        <div class="form-group">
          <label for="title">Nazwa ogłoszenia: *</label>
          <input 
            formControlName="title"
            type="text"
            id="title" 
            class="form-control">
          <div *ngIf="title.touched && title.invalid" class="alert alert-danger">
            <div *ngIf="title.errors.required">Nazwa jest wymagana.</div>
            <div *ngIf="title.errors.minlength">Nazwa musi składać się z co najmniej {{ title.errors.minlength.requiredLength }} liter.</div>
          </div>  
        </div>
        
        <div class="form-group">
          <label for="advertType">Kategoria: *</label>
          <select 
            formControlName="advertType" 
            id="advertType" 
            class="form-control">
            <option value=""></option>
            <option *ngFor="let type of advertTypes" [value]="type.id"> {{ type.name }} </option>
          </select>
          <div *ngIf="advertType.touched && advertType.invalid" class="alert alert-danger">
            <div *ngIf="advertType.errors.required">Kategoria jest wymagana.</div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="description">Opis: *</label>
          <textarea 
            id="description" 
            cols="30" 
            rows="10" 
            formControlName="description"
            class="form-control"></textarea>
            <div *ngIf="description.touched && description.invalid" class="alert alert-danger">
              <div *ngIf="description.errors.required">Opis jest wymagany.</div>
              <div *ngIf="description.errors.minlength">Opis musi składać się z co najmniej {{ description.errors.minlength.requiredLength }} liter.</div>
            </div>  
        </div>
        
        <div class="form-group">
          <label for="email">Adres Email: *</label>
          <input 
            type="text" 
            id="email" 
            class="form-control"
            formControlName="email">
            <div *ngIf="email.touched && email.invalid" class="alert alert-danger">
              <div *ngIf="email.errors.required">Email jest wymagany.</div>
              <div *ngIf="email.errors.emailMustBeCorrect">Nieprawidłowy email.</div>
            </div>  
        </div>
        
        <div class="form-group">
            <label for="phone">Telefon:</label>
            <input 
              type="text" 
              id="phone" 
              class="form-control"
              formControlName="phone">
        </div>
        
        <div class="form-group" action="/action_page.php">
          <label>Zdjęcie: </label>
          <input type="file" name="pic" accept="image/*">
        </div>
        
        <div class="checkbox">
          <label>
            <input type="checkbox"> Akceptuję 
            <a href="/"> Regulamin Ogłoszeń</a> 
          </label>
        </div>
        
        <button type="submit" class="btn btn-primary" [disabled]="!advertForm.form.valid" >Dodaj ogłoszenie</button>
    </form>
    <div class="row bottom-row">
        <div class="col-xs-1" style="margin-left:20px" routerLink="/rules">
            <h3 class="pointer">Regulamin</h3>
        </div>
        <div class="col-xs-1" style="margin-left:60px" routerLink="/help">
            <h3 class="pointer">Pomoc</h3>
        </div>
        <div class="col-xs-5" style="margin-left:20px" routerLink="/about">
            <h3 class="pointer">O nas</h3>
        </div>
        <div class="col-xs-1" style="margin-left:90px" routerLink="/media">
            <h3 class="pointer">Media</h3>
        </div>
        <div class="col-xs-1" style="margin-left:10px" routerLink="/contact">
            <h3 class="pointer">Kontakt</h3>
        </div>
    </div>
  </div>
</body>
