body {
    background: #f3f2a6;
}
.content {
    max-width: 1024px;
    min-height: 1000px;
    margin: auto;
    background: rgb(241, 241, 241);
    box-shadow: 0px 0px 5px 1px grey;
}
.first-row {
    box-shadow: 0px 1px 5px grey;
}
.second-row {
    margin-top: 7px;
    box-shadow: 0px 0px 8px 1px grey;
    height: 50px;
    width: 1024px;
    background: linear-gradient(#ffffff, rgb(201, 201, 201))
}

.search-btn {
    margin-left: 90px;
    margin-top: 8px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 0px 1px #ffffff;
    box-shadow: 0px 0px 10px 1px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 22px;
    background: #1d6be1;
    padding: 0px 4px 2px 4px;
    border: solid #1f628d 1px;
    text-decoration: none;
  }
  
  .search-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .search-input {
      background: #5e9eff;
      width: 300px;
      margin-left: 10px;
  }

  .add-btn {
      
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 0px 0px 2px #ffffff;
    -webkit-box-shadow: 0px 1px 2px #666666;
    -moz-box-shadow: 0px 1px 2px #666666;
    box-shadow: 0px 1px 2px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 22px;
    background: #00b800;
    padding: 0px 4px 2px 4px;
    border: solid #1f628d 1px;
    text-decoration: none;
    margin-left: 300px;
  }
  
  .add-btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  #rectangle {
      width: 225px;
      height: 160px;
      background: #5e9eff;
      box-shadow: 0px 0px 10px 3px #666666;
      margin-left: 63px;
      margin-top: 69px;
  }

  #advert {
    margin-left: 63px;
    margin-top: 69px;
    color: #044cb8;
  }

  #ad-description {
    margin-left: 15px;
    margin-top: 15px;
  }

  .bottom-row {
    margin-top: 40px;
    box-shadow: 0px 0px 8px 1px grey;
    height: 70px;
    width: 1024px;
    background: white;
  }